{% extends "_layouts/error" %}

{% set page = 'error-400' %}

{% block content %}
	<main>
		{{ svg('logo') }}
    <h1>{{ "E017"|t }}</h1>
    <p>{{ "E018"|t }}</p>
    <a href="/" class="button">{{ symbol('arrow-left') }}{{ 'E001'|t }}</a>
  </main>
{% endblock %}
