{% set offset   = offset ?? 0 %}
{% set limit    = limit ?? 9 %}
{% set articles = articles ?? false ? articles|slice(1, limit) : craft.entries({ section : section ?? 'news', 'limit' : limit, 'offset' : offset}).all %}

{% for entry in articles %}

  <article class="article{{ entry.postDate|date('U') > '-30 days'|date('U') ? ' new' }}">

    <a href="/{{ entry.uri }}">

      {% include "_components/featured-image" with { imageTransform : thumb } %}

      <div>

        <time datatime="{{ entry.postDate|date('c') }}">
          {{ entry.postDate|date("d M Y") }}
        </time>

        <h3>{{ entry.title }}</h3>

        {{ (not entry.isFieldEmpty('introduction') ? entry.introduction : entry.body|default|sentence(2))|p }}

      </div>

    </a>

  </article>

{% endfor %}
