{# ////////////////////////////////////////////////////////////////////////// #}
{# Stylesheet                                                                 #}
{# ////////////////////////////////////////////////////////////////////////// #}

{# What is this for? ===========================================================

   Output many template components into one page so you can manage the styling
	 consistency for every possible reusable element.

============================================================================= #}

{% if not devmode %}
  {% exit 404 %}
{% endif %}

{% extends '_layouts/master' %}

{% block main %}

  <h1>Heading H1 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</h1>

  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh.</p>

  <h2>Heading H2 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</h2>

  <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

	{# Inverted Buttons ======================================================= #}

	<div style="background-color:#132542; margin:20px 0; padding:20px">

		{# Arrow Buttons -------------------------------------------------------- #}

		<h3 style="color:white; padding:10px">Arrow Buttons</h3>

		<a href="#" style="margin:10px" class="button inverse white">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px" class="button inverse white">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px" class="button inverse white">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px" class="button inverse white">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		<a href="#" style="margin:10px" class="button inverse big white">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px" class="button inverse big white">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px" class="button inverse big white">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px" class="button inverse big white">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		<a href="#" style="margin:10px" class="button inverse small white">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px" class="button inverse small white">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px" class="button inverse small white">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px" class="button inverse small white">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		{# Assorted Buttons ----------------------------------------------------- #}

		<h3 style="color:white; padding:10px">Assorted Buttons</h3>

		<a href="#" style="margin:10px" class="button inverse pink">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px" class="button inverse purple">Download Now</a>
		<a href="#" style="margin:10px" class="button inverse blue2">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px" class="button special">Enrol Me</a>
		<br>

		<a href="#" style="margin:10px" class="button inverse big yellow">Confirm{{ symbol('tick') }}</a>
		<a href="#" style="margin:10px" class="button inverse big pink">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px" class="button inverse big purple">Download Now</a>
		<a href="#" style="margin:10px" class="button inverse big blue2">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px" class="button big special">Enrol Me</a>
		<br>

		<a href="#" style="margin:10px" class="button inverse small yellow">Confirm{{ symbol('tick') }}</a>
		<a href="#" style="margin:10px" class="button inverse small pink">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px" class="button inverse small purple">Download Now</a>
		<a href="#" style="margin:10px" class="button inverse small blue2">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px" class="button small special">Enrol Me</a>

	</div>

	{# Buttons ============================================================== #}

	<div style="background-color:#EDEDED; margin:20px 0; padding:20px">

		{# Arrow Buttons -------------------------------------------------------- #}

		<h3 style="padding:10px">Arrow Buttons</h3>

		<a href="#" style="margin:10px" class="button">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px" class="button">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px" class="button">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px" class="button">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		<a href="#" style="margin:10px" class="button big">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px" class="button big">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px" class="button big">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px" class="button big">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		<a href="#" style="margin:10px" class="button small">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px" class="button small">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px" class="button small">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px" class="button small">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		{# Assorted Buttons ----------------------------------------------------- #}

		<h3 style="padding:10px">Assorted Buttons</h3>

		<a href="#" style="margin:10px" class="button pink">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px" class="button purple">Download Now</a>
		<a href="#" style="margin:10px" class="button blue2">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px" class="button special">Enrol Me</a>
		<br>

		<a href="#" style="margin:10px" class="button big yellow">Confirm{{ symbol('tick') }}</a>
		<a href="#" style="margin:10px" class="button big pink">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px" class="button big purple">Download Now</a>
		<a href="#" style="margin:10px" class="button big blue2">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px" class="button big special">Enrol Me</a>
		<br>

		<a href="#" style="margin:10px" class="button small yellow">Confirm{{ symbol('tick') }}</a>
		<a href="#" style="margin:10px" class="button small pink">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px" class="button small purple">Download Now</a>
		<a href="#" style="margin:10px" class="button small blue2">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px" class="button small special">Enrol Me</a>

	</div>

	<div class="buttons" style="border:2px solid #EDEDED; margin:20px 0; padding:20px">

		{# Arrow Buttons -------------------------------------------------------- #}

		<h3 style="padding:10px">Arrow Buttons without explicit class names</h3>

		<a href="#" style="margin:10px">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		<a href="#" style="margin:10px">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		<a href="#" style="margin:10px">{{ symbol('arrow-left') }}Previous</a>
		<a href="#" style="margin:10px">Next{{ symbol('arrow-right') }}</a>
		<a href="#" style="margin:10px">Arrow Up{{ symbol('arrow-up') }}</a>
		<a href="#" style="margin:10px">Arrow Down{{ symbol('arrow-down') }}</a>
		<br>

		{# Assorted Buttons ----------------------------------------------------- #}

		<h3 style="padding:10px">Assorted Buttons without explicit class names</h3>

		<a href="#" style="margin:10px">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px">Download Now</a>
		<a href="#" style="margin:10px">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px">Enrol Me</a>
		<br>

		<a href="#" style="margin:10px">Confirm{{ symbol('tick') }}</a>
		<a href="#" style="margin:10px">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px">Download Now</a>
		<a href="#" style="margin:10px">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px">Enrol Me</a>
		<br>

		<a href="#" style="margin:10px">Confirm{{ symbol('tick') }}</a>
		<a href="#" style="margin:10px">Login{{ symbol('user') }}</a>
		<a href="#" style="margin:10px">Download Now</a>
		<a href="#" style="margin:10px">See Times{{ symbol('clock') }}</a>
		<a href="#" style="margin:10px">Enrol Me</a>

	</div>


  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
  </ul>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh.</p>

  <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
  <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

  <table>
    <thead>
      <tr>
        <th>Breed</th>
        <th>Lifespan</th>
        <th>Country of Origin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Breed"><span>Persian Cat</span></td>
        <td data-label="Lifespan"><span>12-17 years</span></td>
        <td data-label="Country of Origin"><span>Iran</span></td>
        <td data-label="Description"><span>The Persian cat is a long-haired breed of cat characterized by its round face and short muzzle.</span></td>
      </tr>
      <tr>
        <td data-label="Breed"><span>Maine Coon</span></td>
        <td data-label="Lifespan"><span>10-15 years</span></td>
        <td data-label="Country of Origin"><span>United States of America</span></td>
        <td data-label="Description"><span>The Maine Coon is one of the largest domesticated breeds of cat. It has excellent hunting skills.</span></td>
      </tr>
      <tr>
        <td data-label="Breed"><span>British Shorthair</span></td>
        <td data-label="Lifespan"><span>14-20 years</span></td>
        <td data-label="Country of Origin"><span>Great Britain</span></td>
        <td data-label="Description"><span>The British Shorthair has a distinctively chunky body, a dense coat, and a broad face.</span></td>
      </tr>
    </tbody>
  </table>

  <img src="{{ images }}/default-featured.jpg" alt="default image">

  <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

  <h3>Heading H3 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuereVestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</h3>

  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
    <li>Lorem ipsum dolor sit amet, consectetur adip <a href="#">dfgkdfjgldkfg</a></li>
  </ol>

  <h4>Heading H4 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuereVestibulum ante ipsum primis in faucibus orci luctus et ultrices posuereVestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</h4>

  <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

  {# <iframe src="https://www.youtube.com/embed/uM16mPwYVRE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> #}

  <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

  <figure>
    <img src="{{ images }}/default-featured.jpg" alt="default image">
    <figcaption>Vestibulum ante ipsum primis in faucibus orci.</figcaption>
  </figure>

  <h5>Heading H5 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuereVestibulum ante ipsum primis in faucibus orci luctus et ultrices posuereVestibulum ante ipsum primis in faucibus orci luctus et ultrices posuereVestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</h5>

  <blockquote cite="#">
    Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci.
  </blockquote>

  <h6>Heading H6 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuereVestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</h6>

  <section class="accordion">
    <h3>
      Dropdown Heading 1
      {{ symbol('icon-arrow-right') }}
    </h3>
    <div>
      <div>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
      </div>
    </div>
  </section>

  <section class="accordion">
    <h3>
      Dropdown Heading 1
      {{ symbol('icon-arrow-right') }}
    </h3>
    <div>
      <div>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
        <section class="accordion">
          <h4>
            Subdropdown Heading 1
            {{ symbol('icon-arrow-right') }}
          </h4>
          <div>
            <div>
              <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
              <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
              <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
            </div>
          </div>
        </section>
        <section class="accordion">
          <h4>
            Subdropdown Heading 2 tortor eget felis porttitor volutpattortor eget felis porttitor volutpat
            {{ symbol('icon-arrow-right') }}
          </h4>
          <div>
            <div>
              <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
              <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
              <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
            </div>
          </div>
        </section>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
      </div>
    </div>
  </section>

  <section class="accordion">
    <h3>
      Dropdown Heading 3 tortor eget felis porttitor volutpat.
      {{ symbol('icon-arrow-right') }}
    </h3>
    <div>
      <div>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
      </div>
    </div>
  </section>

  <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

  <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

{% endblock %}
