{% import "_components/macros/input-field" as input %}

{% if not craft.agent.isRobot() %}

  <form method="post" id="forgot-password" accept-charset="UTF-8">

    <input type="hidden" name="action" value="users/send-password-reset-email">
    <input type="hidden" name="redirect" value="">

    <fieldset>

      {{ csrfInput() }}

      {{ legend is defined ? legend|t|wrap('legend') }}

      {% set message = message is defined ? message : "F019" %}
      {% set value = loginName is defined ? loginName : craft.app.user.rememberedUsername|default %}

      {% set errorlog %}
        {% if errors is defined %}
          <ul class="errors">
            {% for error in errors %}
              <li>{{ error|t }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endset %}

      {{ message|t|p }}

      {{ input.field({
        type        : 'text',
        name        : 'loginName',
        placeholder : 'F020',
        required    : true,
        note        : errorlog,
        value       : currentUser.fullName|default()
      })}}

      <div class="buttons">
        <a class="button" href='/{{ craft.app.config.general.loginPath|default }}'>{{ "F024"|t }}</a>
        <button type="submit">{{ "F015"|t }}</button>
      </div>

    </fieldset>

  </form>

{% elseif devmode %}

  {{ "E011"|t|p }}

{% endif %}
