{% import "_components/macros/input-field" as input %}

{% if not craft.agent.isRobot() %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

  <form method="post" id="reset-password" accept-charset="UTF-8">

    <input type="hidden" name="action" value="users/setPassword">
    <input type="hidden" name="code" value="{{ code|default }}">
    <input type="hidden" name="id" value="{{ id|default }}">

    <fieldset>

      {{ csrfInput() }}

      {{ legend is defined ? legend|t|wrap('legend') }}

      {% set message = message is defined ? message : 'F021' %}

      {{ message|t|p }}

      {% set errorlog %}
        {% if errors is defined %}
          <ul class="errors">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endset %}

      {{ input.field({ type : 'password', name : 'newPassword', placeholder : 'F022', note : errorLog ?? false }, true ) }}

      <div class="buttons">
        <a class="button" href='/{{ craft.app.config.general.loginPath }}'>{{ "F024"|t }}</a>
        <button type="submit">{{ "F015"|t }}</button>
      </div>

    </fieldset>

  </form>

  {% js %}

    var strength = {
  		0: "{{ "F027"|t }}",
  		1: "{{ "F028"|t }}",
  		2: "{{ "F029"|t }}",
  		3: "{{ "F030"|t }}",
  		4: "{{ "F031"|t }}"
    }

    var password = $('#newPassword-input')[0];
    var note = $('#newPassword-input').parent().next('field-note');

    password.addEventListener('input', function() {
      var val = password.value;
      var result = zxcvbn(val);

      if ( result.score == 0 ) {
        password.setCustomValidity("Invalid field.");
      } else {
        password.setCustomValidity("");
      }

      if(val !== "") {
        note.html("{{ "F032"|t }}: " + "<span data-strength="+result.score+">" + strength[result.score] + "</span>");
      } else {
        note.html('');
      }
    });

  {% endjs %}

{% elseif devmode %}

  {{ "E011"|t|p }}

{% endif %}
