{# ////////////////////////////////////////////////////////////////////////// #}
{# Head                                                                       #}
{# ////////////////////////////////////////////////////////////////////////// #}

{# Important ---------------------------------------------------------------- #}

<meta name="author" content="{{ siteName }}">
<meta name="language" content="en">
<meta charset="utf-8" />

{# Apple -----------------------------------------------------------------------
Using the Agent plugin, check if the current device is an Apple device  #}

{% if agentEnabled ?? false %}
  {% set apple = agent.is('iPhone') or agent.is('iPad') or agent.is('iPod') %}
{% endif %}

{# Viewport ----------------------------------------------------------------- #}

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, {{ apple|default ? 'viewport-fit=cover, '}}height=device-height">

{% if seomaticEnabled ?? false %}

	{# SEOMatic --------------------------------------------------------------- #}

  {% do seomatic.meta.seoTitle(seomatic.meta.seoTitle == '{entry.title}' or seomatic.meta.seoTitle is empty ? title|t : seomatic.meta.seoTitle|t) %}
  {% if entry ?? false ? not entry.isFieldEmpty('introduction') : (category ?? false ? not category.isFieldEmpty('introduction') : null) %}
    {% do seomatic.meta.seoDescription(seomatic.meta.seoDescription is not empty ? seomatic.meta.seoDescription : (entry.introduction ?? category.introduction ?? title)|description) %}
  {% endif %}

{% else %}

	{# Fallback Meta Data if SEOMatic is not installed or enabled ------------- #}

  <title>{{ entry is defined and entry.uri == '__home__' ? siteName : (title|t ~ ' | ' ~ siteName|t) }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <link rel="author" href="/humans.txt" />

{% endif %}

{% if agentEnabled ?? false %}

  {# Windows 8 mobile tiles ------------------------------------------------- #}

  {% if agent.is('Windows') %}
    <meta name="msapplication-TileColor" content="{{theme ?? themes.primary ?? '#242424'}}"/>
    <meta name="application-name" content="{{ title|default(siteName) }}" />
    <meta name="msapplication-TileImage" content="{{images}}favicons/apple-touch-icon.png">
  {% endif %}

  {# Internet Explorer ------------------------------------------------------ #}

  {% if agent.is('ie') %}
    <meta http-equiv="cleartype" content="on">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta name="msapplication-TileColor" content="{{theme ?? themes.primary ?? '#242424'}}">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-config" content="ieconfig.xml">
    <meta name="msapplication-TileImage" content="{{images}}favicons/apple-touch-icon.png">
  {% endif %}

  {# Pinterest -------------------------------------------------------------- #}

  {% if agent.isDesktop() %}
    <meta name="pinterest" content="nopin" />
  {% endif %}

  {# Apple ------------------------------------------------------------------ #}

  {% if apple or agent.is('OS X') %}
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="{{ title|default(siteName) }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-icon" href="{{images}}favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="{{images}}favicons/apple-touch-icon.png">
    <link rel="apple-touch-startup-image" href="{{images}}favicons/apple-touch-icon.png">
  {% endif %}

  {# macOS ------------------------------------------------------------------ #}

	{% if agent.is('OS X') %}
    <link rel="mask-icon" href="{{images}}sprites/icon.svg" color="{{theme ?? themes.primary ?? '#242424'}}">
  {% endif %}

  {# No Javascript Check ---------------------------------------------------- #}

	{% if not agent.isRobot() and page != 'error-no-javascript' %}
    <noscript><meta http-equiv="refresh" content="0; url=/no-javascript" /></noscript>
  {% endif %}

{% endif %}

{# Android ------------------------------------------------------------------ #}

<meta name="theme-color" content="{{theme ?? themes.primary ?? '#242424'}}">
<meta name="mobile-web-app-capable" content="yes">

{# Favicons ----------------------------------------------------------------- #}

{% cache globally using key 'favicons' %}
  <link rel="shortcut icon" href="{{images}}favicons/favicon.ico" type="image/x-icon" />
  {% for size in [16, 32, 48, 64] %}
    {% set favicon = (images ~ 'favicons/favicon-' ~ size ~ '.png')|fileexists %}
    {% if favicon %}
      <link rel="icon" href="{{ favicon }}" sizes="{{ size ~'x'~ size}}" type="image/png">
    {% endif %}
  {% endfor %}
{% endcache %}
